{% extends '../_origin/base.html' %}
{% block title %}
   - Hesap Parola değiştirme
{% endblock %}
{% block content %}
   <main class="page-section pb--10 pt--50">
      <div class="container">
         <div class="row">
            <div class="mx-auto col-sm-12 col-md-12 col-xs-12 col-lg-6 mb-30">
               <!-- Login Form s-->
               <form method="POST">
                  {% csrf_token %}
                  {% if form.errors %}
                     <div class="alert alert-success">
                        {% for key,value in form.errors.items %}
                           {{value}}
                        {% endfor %}
                     </div>
                  {% endif %}
                  <h4 class="login-title">Parola değiştirme</h4>
                  <div>Şuanda "<b>lol</b>" adlı kullanıcı hesabının parolasını değiştiriyorsunuz.</div>
                  <div class="login-form">
                     <div class="row">
                        <div class="col-md-12 col-12 mb--20">
                           <label>Yeni Parola</label>
                           {{ form.new_password1 }}
                        </div>
                        <div class="col-md-12 col-12 mb--20">
                           <label>Yeni Parola Tekrar</label>
                           {{ form.new_password2 }}
                        </div>
                        <div class="col-md-12">
                           <div>
                              <button type="submit" class="btn btn-black w-100 mb-3">Değiştir</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </main>
{% endblock %}