{% extends '../_origin/base.html' %}
{% block title %}
   - Parolamı unuttum
{% endblock %}
{% block content %}
   <main class="page-section pb--10 pt--50">
      <div class="container">
         <div class="row">
            <div class="mx-auto col-sm-12 col-md-12 col-xs-12 col-lg-6 mb-30">
               <!-- Login Form s-->
               <form method="POST">
                  {% csrf_token %}
                  <h4 class="login-title">Parolamı unuttum</h4>
                  <div>Sorun değil. Herşeyi anlıyoruz. Parolanızı değiştirmek için aşağıda belirteceğiniz e-posta'ya bir doğrulama linki göndereceğiz.</div>
                  <div class="login-form">
                     <div class="row">
                        <div class="col-md-12 col-12 mb--20">
                           <label>E-posta adresi</label>
                           {{ form.email }}
                        </div>
                        <div class="col-md-12">
                           <div>
                              <button type="submit" class="btn btn-black w-100 mb-3">Gönder</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </main>
{% endblock %}