<!-- Promotion Block 3 -->
<section class="pt--50 space-db--30">
    <h2 class="d-none">Promotion Block
    </h2>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4656845275812640" crossorigin="anonymous"></script>
                <!-- sahiplensene -->
                <ins class="adsbygoogle" style="display:inline-block;width:335px;height:106px" data-ad-client="ca-pub-4656845275812640" data-ad-slot="7318085142"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
            <div class="col-md-6">
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4656845275812640" crossorigin="anonymous"></script>
                <!-- s.2 -->
                <ins class="adsbygoogle" style="display:inline-block;width:336px;height:106px" data-ad-client="ca-pub-4656845275812640" data-ad-slot="4576108404"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
    </div>
</section>