<section class="pt--50 space-db--30">
    <h2 class="d-none">Promotion Block
    </h2>
    <div class="container">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4656845275812640" crossorigin="anonymous"></script>
        <!-- s3 -->
        <ins class="adsbygoogle" style="display:inline-block;width:520px;height:67px" data-ad-client="ca-pub-4656845275812640" data-ad-slot="4828772734"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</section>