{% load static %}
{% load utils %}
<footer class="site-footer">
   <div class="container">
      <div class="row">
         <div class="col-lg-4 col-md-6">
            <div class="single-footer contact-block">
               <h3 class="footer-title">SAHIPLENSENE.COM</h3>
               <div class="single-footer-content">
                  <p class="text-italic">Türkiye'nin en büyük hayvan sahiplendirme platformu</p>
                  <p class="font-weight-500 text-white"><span class="d-block">İletişim:</span>
                     <div>
                        <a href="mailto:{% get_const 'CONTACT_EMAIL' %}">{% get_const 'CONTACT_EMAIL' %}</a>
                     </div>
                  </p>
                  <p class="social-icons">
                     {% get_media as medias %}
                     {% for media in medias %}
                        <a href="{{media.link}}"><i class="{{media.fa_icon}}"></i></a>
                     {% endfor %}
                  </p>
               </div>
            </div>
         </div>
         <div class="col-lg-2 col-sm-6">
            <div class="single-footer contact-block">
               <h3 class="footer-title">BAĞLANTILAR</h3>
               <div class="single-footer-content">
                  <ul class="footer-list">
                     <li><a href="{% url 'pets:home' %}">Ana Sayfa</a></li>
                     <li><a href="{% url 'pets:dashboard' %}">Hayvan Sahiplen</a></li>
                     <li><a href="{% url 'pets:dashboard' 'marry' %}">Eş Bul</a></li>
                     <li><a href="{% url 'pets:dashboard' 'lost' %}">Kayıp Hayvanını Bul</a></li>
                     <li><a href="{% url 'blog:posts' %}">Blog</a></li>
                     <li><a href="{% url 'pets:contact-us' %}">İletişim</a></li>
                     <li><a href="{% url 'pets:about-us' %}">Hakkımızda</a></li>
                     <li><a href="#">Kullanım koşulları</a></li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="col-lg-6 col-sm-6">
            <div class="single-footer contact-block">
               <h3 class="footer-title">Hayvan türleri</h3>
               <div class="single-footer-content">
                  <ul class="footer-list row">
                     {% get_pet_types as pet_types %}
                     {% for pet_type in pet_types %}
                        <li class="col-lg-4"><a href="/dashboard?type={{ pet_type.slug }}">{{ pet_type.name }}</a></li>
                     {% endfor %}
                  </ul>
               </div>
            </div>
         </div>
      </div>
      </div>
   </div>
   <div class="footer-copyright">
      <p>© SAHIPLENSENE.COM , 2022. <br>MaaC Tekloji Center Tarafından Geliştirilmiştir.Tüm Hakları saklı kalmak üzere kar amacı gütmeden  toplum hizmetine  sunulmuştur.</p>
   </div>
</footer>