{% load static %}
{% load utils %}
<header class="header petmark-header-1">
   <div class="header-wrapper">
      <!-- Site Wrapper Starts -->
      <div class="header-top bg-ash">
         <div class="container">
            <div class="row align-items-center">
               <div class="col-sm-6 text-center text-sm-start">
                  <p class="font-weight-300">sahiplensene.com</p>
               </div>
               <div class="col-sm-6">
                  <div class="header-top-nav right-nav">
                     <div class="nav-item slide-down-wrapper">
                        <span>Dil: </span><a class="slide-down--btn" href="#" role="button"> Dil Seçiniz<i class="ion-ios-arrow-down"></i>
                        </a>
                        <ul class="dropdown-list slide-down--item">
                           <li><a class="lang-select notranslate" data-lang="en" href="#googtrans(en|en)">İngilizce</a></li>
                           <li><a class="lang-select notranslate" data-lang="ru" href="#googtrans(en|ru)">Rusça</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="header-middle">
         <div class="container">
            <div class="row align-items-center justify-content-center">
               <!-- Template Logo -->
               <div class="col-lg-3 col-md-12 col-sm-4">
                  <div class="site-brand  text-center text-lg-start">
                     <a href="{% url 'pets:home' %}" class="brand-image">
                        <img src="{% static 'image/main-logo.png' %}" alt="">
                     </a>
                  </div>
               </div>
               <!-- Category With Search -->
               <div class="col-lg-5 col-md-7 order-3 order-md-2">
                  <form class="category-widget" action="{% url 'pets:dashboard' %}">
                     <input type="text" name="keyword" placeholder="Evil hayvanını bul...">
                     <div class="search-form__group search-form__group--select">
                        <select name="city" id="searchCategory" class="search-form__select nice-select">
                           <option value="all">Bütün İller</option> 
                           {% get_cities as cities %}
                           {% for city in cities %}
                              <option value="{{city.0}}">{{city.1}}</option>                              
                           {% endfor %}
                        </select>
                     </div>
                     <button type="submit" class="search-submit"><i class="fas fa-search"></i></button>
                  </form>
               </div>
               <!-- Call Login & Track of Order -->
               <div class="col-lg-4 col-md-5 col-sm-8 order-2 order-md-3">
                  <div class="header-widget-2 text-center text-sm-end ">
                     <div class="call-widget">
                        <p>Bize Ulaşın: <i class="icon ion-ios-telephone"></i>
                           <span class="font-weight-mid">
                              <a href="tel:{% get_const 'PHONE_VALUE' %}">{% get_const 'PHONE_SHOW' %}</a>
                           </span>
                        </p>
                     </div>
                     <ul class="header-links">
                        {% if not request.user.is_authenticated %}
                           <li>
                              <a href="{% url 'profiles:custom-login' %}">
                                 <i class="fas fa-user"></i> 
                                 Giriş yap 
                              </a>
                           </li> 
                           <li>
                              <a href="{% url 'profiles:verify' %}">
                                 <i class="fas fa-sign-in-alt"></i>
                                 Kayıt ol
                              </a>
                           </li>
                        {% else %}
                           <li>
                              <a href="{% url 'profiles:profile' %}">
                                 {{ request.user.username }}
                              </a>
                           </li>
                           <li>
                              <a href="{% url 'profiles:logout'%}">
                                 <i class="fas fa-sign-out-alt"></i> Çıkış yap
                              </a>
                           </li> 
                        {% endif %}
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="header-nav-wrapper">
      <div class="container">
         <div class="header-bottom-inner">
            <div class="row g-0">
               <!-- Category Nav -->
               <div class="col-lg-3 col-md-8">
                  <!-- Category Nav Start -->
                  <div class="category-nav-wrapper bg-blue">
                     <div class="category-nav">
                        <h2 class="category-nav__title primary-bg" id="js-cat-nav-title"><i class="fa fa-bars"></i>
                           <span>Hayvan türleri</span>
                        </h2>
                        <ul class="category-nav__menu" id="js-cat-nav">
                           {% get_pet_types as pet_types %}
                           <li class="category-nav__menu__item">
                              {% for pet_type in pet_types %}
                                 <a href="/dashboard?type={{ pet_type.slug }}">{{ pet_type.name }}</a>
                              {% endfor %}
                           </li>
                        </ul>
                     </div>
                  </div>
                  <!-- Category Nav End -->
                  <div class="category-mobile-menu"></div>
               </div>
               <!-- Main Menu -->
               <div class="col-lg-7 d-none d-lg-block">
                  <nav class="main-navigation">
                     <!-- Mainmenu Start -->
                     <ul class="mainmenu">
                        <li class="mainmenu__item ">
                           <a href="{% url 'pets:home' %}" class="mainmenu__link">Ana Sayfa</a>
                        </li>
                        <li class="mainmenu__item ">
                           <a href="{% url 'blog:posts' %}" class="mainmenu__link">Blog</a>
                        </li>
                        <li class="mainmenu__item ">
                           <a href="{% url 'pets:dashboard' %}" class="mainmenu__link">Sahiplen</a>
                        </li>
                        <li class="mainmenu__item ">
                           <a href="{% url 'pets:dashboard' 'marry' %}" class="mainmenu__link">Eş Bul</a>
                        </li>
                        <li class="mainmenu__item ">
                           <a href="{% url 'pets:dashboard' 'lost' %}" class="mainmenu__link">Kayıp Hayvanlar</a>
                        </li>
                        <li class="mainmenu__item ">
                           <a href="{% url 'pets:about-us' %}" class="mainmenu__link">Hakkımızda</a>
                        </li>
                        <li class="mainmenu__item ">
                           <a href="{% url 'pets:contact-us' %}" class="mainmenu__link">İletişim</a>
                        </li>
                     </ul>
                     <!-- Mainmenu End -->
                  </nav>
               </div>
               <!-- Cart block-->
               <div class="col-lg-2 col-6 offset-6 offset-md-0 col-md-3 order-3">
                  {% if request.user.is_authenticated %}
                     <div class="cart-widget-wrapper slide-down-wrapper">
                        <a href="{% url 'pets:my-pets' %}" class="cart-widget justify-content-center" style="border: 1px solid rgba(0,0,0,0.1)">
                           <div class="cart-icon">
                              <i class="fas fa-dog"></i>
                              <span class="cart-count-badge">
                                 {% get_mypet_count request %}
                              </span>
                           </div>
                           <div class="cart-text">
                              <span class="d-block">Hayvan <br>İlanlarım</span>
                           </div>
                        </a>
                     </div>
                  {% else %}
                     <div class="cart-widget-wrapper slide-down-wrapper">
                        <a href="{% url 'profiles:custom-login' %}" class="cart-widget justify-content-center" style="border: 1px solid rgba(0,0,0,0.1)">
                           <div class="cart-icon">
                              <i class="fas fa-dog"></i>
                           </div>
                           <div class="cart-text">
                              <span class="d-block">Hayvan <br>İlanı Ver</span>
                           </div>
                        </a>
                     </div>
                  {% endif %}
               </div>
               <!-- Mobile Menu -->
               <div class="col-12 d-flex d-lg-none order-2 mobile-absolute-menu">
                  <!-- Main Mobile Menu Start -->
                  <div class="mobile-menu"></div>
                  <!-- Main Mobile Menu End -->
               </div>
            </div>
         </div>
         <div class="row">
         </div>
      </div>
      <div class="fixed-header sticky-init">
         <div class="container">
            <div class="row align-items-center">
               <div class="col-lg-3">
                  <!-- Sticky Logo Start -->
                  <a class="sticky-logo" href="/">
                  <img src="{% static 'image/main-logo.png' %}" alt="logo">
                  </a>
                  <!-- Sticky Logo End -->
               </div>
               <div class="col-lg-9">
                  <!-- Sticky Mainmenu Start -->
                  <nav class="sticky-navigation">
                     <ul class="mainmenu sticky-menu">
                        <li class="mainmenu__item ">
                           <a href="{% url 'pets:home' %}" class="mainmenu__link">Ana Sayfa</a>
                        </li>
                        <li class="mainmenu__item ">
                           <a href="{% url 'blog:posts' %}" class="mainmenu__link">Blog</a>
                        </li>
                        <li class="mainmenu__item ">
                           <a href="{% url 'pets:dashboard' %}" class="mainmenu__link">İlanlar</a>
                        </li>
                        <li class="mainmenu__item ">
                           <a href="{% url 'pets:about-us' %}" class="mainmenu__link">Hakkımızda</a>
                        </li>
                        <li class="mainmenu__item ">
                           <a href="{% url 'pets:contact-us' %}" class="mainmenu__link">İletişim</a>
                        </li>
                     </ul>
                     <div class="sticky-mobile-menu  d-lg-none">
                        <span class="sticky-menu-btn"></span>
                     </div>
                  </nav>
                  <!-- Sticky Mainmenu End -->
               </div>
            </div>
         </div>
      </div>
   </div>
</header>