{% extends '../_origin/base.html' %}
{% load static %}
{% load utils %}
{% block title %}
   - Ana Sayfa
{% endblock %}
{% block custom_css %}
   <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block content %}
   <!-- Slider main container -->
   <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
         {% for slide in video_slides %}
            <div class="swiper-slide slide">
               <!--<div class="slide__background">-->
               <video class="slide__background" autoplay muted loop>
                  <source src="{{slide.video.url}}">
               </video>
            </div>
         {% endfor %}
         {% for slide in slides %}
            <div class="swiper-slide slide slide--image">
               <img src="{{ slide.image.url }}" alt="" class="slide__background">
               <div class="container">
                  <div class="slide__stuff">
                     <h5>
                        {% if slide.heading_pre %}
                           {{ slide.heading_pre }}
                        {% endif %}
                     </h5>
                     <h3>
                        {% if slide.heading_sub %}
                           {{ slide.heading_sub }}
                        {% endif %}
                     </h3>
                     <h5>
                        {% if slide.heading %}
                           {{ slide.heading }}
                        {% endif %}
                     </h5>
                     {% if slide.button_show %}
                        <div class="slider-btn mt--30">
                           <a href="{{ slide.button_link }}" class="btn btn-outlined--primary btn-rounded">{{ slide.button_text }}</a>
                        </div>
                     {% endif %}
                  </div>
               </div>
            </div>
         {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
   </div>

   {% if gold_pets %}
      <!-- SLider Block 3 / Tab -->
      <div class="pt--50">
         <div class="container">
            <div class="slider-header-block tab-header d-flex">
               <div class="block-title">
                  <h2><b>GOLD İLANLAR</b> ( Açılışımıza Özel Bedava Gold İlan Verme Hakkınız Kullanın )</h2>
               </div>
            </div>
            <div class="tab-content pm-slider-tab-content" id="myTabContent">
               <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <div class="petmark-slick-slider border grid-column-slider  arrow-type-two" data-slick-setting='{
                     "autoplay": true,
                     "autoplaySpeed": 3000,
                     "slidesToShow": 5,
                     "rows" :1,
                     "arrows": true
                     }'
                     data-slick-responsive='[
                     {"breakpoint":991, "settings": {"slidesToShow": 3} },
                     {"breakpoint":768, "settings": {"slidesToShow": 2} },
                     {"breakpoint":480, "settings": {"slidesToShow": 1,"rows" :1} }
                     ]'>
                     {% for pet in gold_pets %}
                        <div class="single-slide p-2">
                           <div class="pm-product">
                              <div class="image">
                                 <a href="{{ pet.get_absolute_url }}">
                                    <img style="height: 200px;width: 100%; object-fit: cover;" src="{{ pet.photo.url }}" alt="">
                                 </a>
                              </div>
                              <div class="content">
                                 <h3>İlanınız Burda Olsun!</h3>
                                 <div class="price text-red">
                                    <span>
                                       BEDAVA
                                    </span>
                                 </div>
                                 <div class="btn-block">
                                    <a href="{{ pet.get_absolute_url }}" class="btn btn-outlined btn-rounded">İNCELE</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     {% endfor %}
                     <div class="single-slide p-2">
                        <div class="pm-product">
                           <div class="image">
                              <a href="{% static 'image/example-dog.png' %}">
                                 <img style="height: 200px;width: 100%; object-fit: cover;" src="{% static 'image/example-dog.png' %}" alt="">
                              </a>
                           </div>
                           <div class="content">
                              <h3>İlanınız Burda Olsun!</h3>
                              <div class="price text-red">
                                 <span>
                                    BEDAVA
                                 </span>
                              </div>
                              <div class="btn-block">
                                 <a href="{% url 'pets:pet-add' %}" class="btn btn-outlined btn-rounded">İLAN VER</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Promotion Block 3 -->
      <section class="pt--50 space-db--30">
         <h2 class="d-none">Promotion Block
         </h2>
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <a class="promo-image overflow-image">
                  <img src="{% static 'image/product/promo-product-image-big--home-4.jpg' %}" alt="">
                  </a>
               </div>
               <div class="col-md-6">
                  <a class="promo-image overflow-image">
                  <img src="{% static 'image/product/promo-product-image-big-2--home-4.jpg' %}" alt="">
                  </a>
               </div>
            </div>
         </div>
      </section>
   {% endif %}
   {% include './home/search.html' %}
   <section class="pt--50 space-db--30">
      <h2 class="d-none">Promotion Block
      </h2>
      <div class="container">
         <a class="promo-image overflow-image">
         <img src="{% static 'image/product/promo-product-image-huge--home-4.jpg' %}" alt="">
         </a>
      </div>
   </section>
   {% include './home/faq.html' %}
   {% get_recent_posts as recent_posts %}
   {% if recent_posts %}
      <div class="pt--50 mb-5">
         <div class="container">
            <div class="block-title">
               <h2>SON HABERLER</h2>
            </div>
            <div class="petmark-slick-slider border normal-slider blog-slider"
               data-slick-setting='{
               "autoplay": true,
               "autoplaySpeed": 3000,
               "slidesToShow": 2,
               "arrows": true
               }'
               data-slick-responsive='[
               {"breakpoint":991, "settings": {"slidesToShow": 2} },
               {"breakpoint":768, "settings": {"slidesToShow": 1} }
               ]'>
               {% for post in recent_posts %}
                  <div class="single-slide">
                     <div class="blog-post card-style-list--2">
                        <div class="row">
                           <div class="col-lg-6 mt-4 mt-lg-0">
                              <div class="blog-content">
                                 <a href="{{ post.get_absolute_url }}" class="mb-0">
                                    <h2 class="blog-title" style="font-size: 2em">{{ post.title }}</h2>
                                 </a>
                                 <div>
                                    <p>
                                       {{ post.excerpt }}
                                    </p>
                                 </div>
                                 <footer class="blog-post-footer mt-0">
                                    <div class="blog-btn">
                                       <a href="{{ post.get_absolute_url }}">Oku</a>
                                    </div>
                                 </footer>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               {% endfor %}
            </div>
         </div>
      </div>
   {% endif %}
   <!-- slide Block 5 / Blog Slider -->
{% endblock %}
{% block custom_js %}
   <script src="{% static '/js/index.js' %}"></script>
{% endblock %}